<main role="main" class="inner cover">
  <div>
    <h1 class="cover-heading"></h1>
    <p class="lead"></p>

    <div class="card card-body text-center">
      <router-outlet class="mt-2"></router-outlet>
    </div>

    <div class="connection-form">
      <app-connection-form></app-connection-form>
    </div>

    <div class="connection-interface">
      <app-connection-interface *ngIf="connectionInterface"></app-connection-interface>
    </div>

    <div class="connection-control">
      <app-connection-control *ngIf="connectionControl"></app-connection-control>
    </div>

  </div>
</main>
