<main role="main" class="inner cover">
  <div>
    <h1 class="cover-heading"></h1>
    <p class="lead"></p>

    <div class="card card-body text-center">
      <app-connection-information
        id="{{ localId }}"
      ></app-connection-information>
    </div>

    <div>
      <input
        [(ngModel)]="connectId"
        type="text"
        class="form-control mb-3 mt-4"
        placeholder="type an id">

      <a (click)="connect()" class="btn btn-lg btn-primary btn-block">connect</a>
    </div>

  </div>
</main>
