@import "src/variables";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 92vh;
}

.card-body {
  background: $background;
  border-color: $secondary;
  height: 7rem;
  width: 101%;
  z-index: 100;
}

.connection-interface {
  position: absolute;
  margin-top: -16.5rem;
}

.connection-control {
  position: absolute;
  margin-top: -16rem;
}
